@model OptionViewModel
@{
    ViewData["Title"] = "Index";
}
@*<script>

    function optionClicked(index) {

        var recipies = @Json.Serialize(Model.Recipies);
        var recipe = recipies[index];
        var components = recipe['components'];
        var selectedName = document.getElementById("recipeName");
        var selectedComponents = document.getElementById("recipeIngrediences");
        var orderButton = document.getElementById("orderButton");
        var recipeId = document.getElementById("recipeId");
        selectedName.textContent = recipe['name'];
        recipeId.value = recipe['id'];

        var ingridienceTekst = "Ingridiences: ";
        for (var i = 0; i < components.length; i++) {
            var component = components[i];
            ingridienceTekst += component['name'] + ", ";
        }

        selectedComponents.textContent = ingridienceTekst;

        orderButton.disabled = false;
    }
</script>*@

<style type="text/css">
    #container {
        width: 700px;
        height: 500px;
        background-color: yellow;
        margin-top: 50px;
    }
    #selectionBar {
        width: 300px;
        height: 500px;
        float: left;
        background-color: #f8f9fa !important;
        border: 1px solid rgba(0, 0, 0, .2);
        border-right: 0px;
    }

        #selectionBar div {
            width: 300px;
            padding: 10px 10px 10px 10px;
            background-color: #f8f9fa !important;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

    #selectedBar {
        width: 400px;
        height: 500px;
        float: right;
        background-color: #f8f9fa !important;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 10px;
    }
</style>

<div id="container">
    <div id="selectionBar"></div>
    <div id="selectedBar">
        <h3 id="recipeName">No seleced recipe.</h3>
        <p id="recipeIngrediences"></p>
        <form id="orderForm">
            <input type="hidden" id="recipeId" name="recipeId" />
            <input type="submit" id="orderbtn" value="Order" style="display:none;"/>
        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        // List containing the lastest cached recipies list.
        var ajax_calls = [];

        $(document).ready(function () {

            // Fetch recipies list.
            ajax_calls.push($.getJSON(API_URL + 'api/recipies', function (data) {
                // Array of recipies.
                var items = [];
                // Go through each recipe and created element for it.
                $.each(data, function (key, val) {
                    console.log(data);
                    items.push('<div class="option" data-id="' + val['id'] + '">' + val['name'] + '</div>');
                });
                // Add all recipie to selectio bar.
                $("#selectionBar").html(items.join(""));
            }));

            $('#selectionBar').on('click', '.option', function (e) {
                let id = parseInt($(this).data('id'));

                // Abort any ajax call.
                $.each(ajax_calls, function (key, val) { val.abort(); });

                ajax_calls.push($.getJSON(API_URL + 'api/recipies/' + id, function (data) { 
                    console.log(data);
                    $('#recipeName').text(data['name']);

                    // List of ingrediens names.
                    var ingrediens = [];

                    // Go through each component to get ingredient names.
                    $.each(data['components'], function (key, val) { 
                        ingrediens.push(val['fluid']['name']);
                    });

                    // Set ingredients list.
                    $('#recipeIngrediences').text('Ingredients: ' + ingrediens.join(', '));

                    // Set id of the selected recipe.
                    $("#recipeId").val(id);

                    $('#orderbtn').show();
                }));
            });

            $('#orderForm').submit(function (e) {
                // Prevent browser from submitting the form.
                e.preventDefault();
                // Get the submitted recipe.
                var recipeId = $("[name=recipeId]", this).val();
                // Send order to api.
                ajax_calls.push($.post(API_URL + 'api/orders', { recipeId: parseInt(recipeId) }).done(function (data) {
                    console.log('created');
                }));
            });
        });


    </script>
}



