
@{
    ViewData["Title"] = "Index";
}

<div class="outMostContainer">    
    <div class="selectionBar">
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>
        <div class="option">
            Option1
        </div>

    </div>
</div>



