<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - IOTBartenderFrontend</title>

    <link href="~/lib/boostrap/boostrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">window.API_URL = "https://localhost:44380/";</script>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">IOT Bartender</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div id="status" style="width: 20px;height: 20px;background-color: yellow;display:inline-block;"></div>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Orders">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/">
                                <span data-feather="shopping-cart"></span>
                                Order drink
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <div id="loadingOverlay" class="overlay" style="display:none;">

        <img src="~/images/loading.gif" style="position: absolute;left: 40%; top: 40%; width: 200px;height: 200px;" />
    </div>

    <script type="text/javascript" src="~/lib/feather/feather.min.js"></script>
    <script type="text/javascript" src="~/lib/boostrap/boostrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    <script type="text/javascript">
        // Fetch status of machine.
        fetchStatus();

        function fetchStatus() {
            $.getJSON(API_URL + 'api/diagnostics/isavailable', function (data) {
                console.log('dd');
                switch (data.status) {
                    case true:
                        $('#status').css('background-color', 'green');
                        break;
                    case false:
                        console.log('dd');
                        $('#status').css('background-color', 'red');
                        break;
                }
            });

            setTimeout(fetchStatus, 5000);
        }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
